
body{
    margin:0;
    padding:0;
}
.container{
    height:100vh;
    display:grid;
    /*grid-template-columns: [col1] 100px [col2] 100px [col3] 120px;
    grid-template-rows: [row1] 80px [row2] 120px [row3] 100px;*/
    grid-template-areas: "nav nav nav nav"
                           "side content content content"
                           "footer footer footer footer";
}
.box{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    /*height:80px;
    width:80px;*/
    color:white;
    background-color: blueviolet;
    border:1px solid blue;

}
#b4{
    height: 15vh;
    grid-area:footer;
    background-color: darkblue;
}
#b3{
    height: 70vh;
    width: 80vw;
    grid-area: content;
    background-color: orangered;
    /*grid-row:1/2;
    grid-column:1/2;*/

}
#b2{
    height: 70vh;
    width: 20vw;
    grid-area:side;
    /*grid-row:row1/row2;
    grid-column:row1/row2;*/
    background-color: cadetblue;

}
#b1{
    height: 15vh;
    grid-area: nav;
    /*grid-row:2/3;
    grid-column:1/2;*/
    background-color: blueviolet;

}